body{
    /* background-color: rgb(16, 16, 16); */
    margin: 0px;
    padding: 0px;
    background-image:url(./IMAGES/home-purple-bg.png)  ;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    display: flex;
    margin: 0px;
    padding: 0px;
}
a{
font-family: 'Bree Serif', serif;list-style-type: none;
text-decoration: none;
color: rgb(255, 255, 255);
font-size: 24px;
margin-top: 9px;
margin-bottom: 0px;
}
.navbar-icons{
    height: 28px;
    width: 28px;
    margin: 0px;
    margin-top: 6px;
    /* margin-left: 35px; */
    margin-right: 5px;
    padding: 0px;
    margin-bottom: 0px;
}
.navbar-icons {
    height: 24px;
    width: 24px;
}
.one{
    height: 28px;
    width: 28px;
}
.two{
    margin-top: 7px;
}
.three{
    margin-top: 5px;
    height: 28px;
    width: 28px;
}
.four{
    margin-top: 8px;
    height: 24px;
    width: 23px;
}
.five{
    margin-top: 8px;
    height: 25px;
    width: 26px;
}
#logo{
    height:26px;
    width: 170px;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: -7px;
    margin-right: 25px;
}
hr{
    margin: 0px;
}
.image-xheader{
    max-height: 410px;
    max-height: 430px;
 float: right;
 margin-top: 5px;
 margin-left: 170px;
 
}
.Home-1st-heading{
    font-family: 'Luxurious Roman', cursive;
font-size: 1.6rem;
height: 80px;
width: 400px;
text-align: left;
color: white;
font-weight: 100;
margin-top: 30px;
}
.sub-basics{
    display: flex;
    margin-left: 91px;
}
.-text{
font-size: medium;
font-family: Arial, Helvetica, sans-serif;
width: 300px;
/* margin-left: 21px; */
text-align: left;
}
.services{
    display: flex;
    margin: right 30px; 
    text-align: center;
}
.boxes{
    text-align: center;
    margin-right: 30px;
}